:root {
    --color-primary: #3880ff;
    --color-primary-contrast: #ffffff;
    
    --color-secondary: #3dc2ff;
    --color-secondary-contrast: #ffffff;

    --color-background-primary: #181818;

    
}

#CommentList {
    /* width: 324px;  */
    height: 700px;
    background-color: var(--color-background-primary);
    overflow: scroll;
}

.spc-div {
    color: white;
}


.item {
    display:flex
}